<car-types-json style="display: none;">
  <label class="form__label custom" for="car-types-input">Car Types</label>
  <div class="field custom">
    <textarea class="text-area field__input" id="car-types-input" rows="5" name="attributes[Car Types]"
      validate="false"></textarea>
  </div>
</car-types-json>

<script src='{{ 'car-types-json.js' | asset_url }}' defer='defer'></script>

